.menu-navigation {
    height: 40px;
    padding: 10px 25px;
    display: flex;
    font-size: 14px;
}

.menu-vector{
    padding-right: 20px;
}

.title-navigation {
    padding-top: 1px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.settings {
    background-color: #fbfbfb;
    height: 467px;
    border-radius: 30px;
}