/* start menu navigation style */
.menu-navigation {
  height: 40px;
  padding: 10px 25px;
  display: flex;
  font-size: 14px;
  width: 100%;
  margin-top: 20px;
}

.menu-vector {
  padding-right: 20px;
}

.title-navigation {
  padding-top: 3px;
}
/* end menu navigation style */

/* start course sections style */
.course-sections {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  margin-top: -5px;
}

.course-sections a {
    width: 50%;
}
.course-sections button {
  width: 100%;
  background-color: #F1F1FA;
  color: #91919f;
  border: none;
  outline: none;
  padding: 20px;
}

.course-sections .active , .course-sections button:hover {
    background-color: white;
    color: #161719;
}

.course-content {
  background-color: white;
  color: black;
  padding: 20px;
}

.section-details {
  color: #91919f;
  font-size: 10px;
  width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span {
  color: #91919f;
  font-weight: bold;
  font-size: 25px;
}

hr {
  width: 100%;
  margin: 0;
}

.Content-details ul li {
  color: #161719;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-block: 20px;
}

 .more {
    width: 70px;
}
