body {
  width: 375px;
  height: 812px;
  background-color: #6360ff; /* primary color */
  margin: auto;
}
/* header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 325px;
  height: 40px;
  top: 64px;
  left: 20px;
  align-items: center;
  margin: auto;
}
.header i {
  font-size: 20px;
  left: 305px;
  top: 10px;
  width: 20px;
  height: 20px;
  margin-top: 20px;
}
.header .img {
  width: 40px;
  height: 40px;
  margin-top: 20px;
}
.header .text {
  font-size: 12px;
}
.header .text1 {
  width: 225px;
  height: 18px;
  font-size: 16px;
}
.header .content {
  margin-left: 20px;
  margin-top: 20px;
}

/* card */
.card {
  width: 325px;
  height: 170px;
  border-radius: 10px;
  border: 2px solid #f1f1fa;
  outline: none;
  background-color: white;
  color: black;
  margin: auto;
  margin-top: 30px;
}
.cardimg {
  width: 50px;
}

/* cardbase */
.carsbase {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 15px;
  align-items: center;
  font-size: 13px;
}

/* cardprogress */

.cardprogress {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}
.currentprogress {
  display: flex;
  flex-direction: row;
}
.currentprogress .para1 {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.479);
}

.currentprogress p {
  font-size: 13px;
}

/* card percantage */

.imgpercantage {
  position: relative;
  right: 122px;
  bottom: 20px;
  z-index: 0;
}

.percantage {
  margin: auto;
  text-align: center;
  padding-top: 15px;
}

/* recommendation */
.recommendation {
  width: 375px;
  height: 636px;
  background-color: #f1f1fa;
  color: black;
  position: relative;
  bottom: 92px;
  z-index: -1;
  border-radius: 30px 30px 0px 0px;
  margin: auto;
}
.recommendation .para {
  padding-top: 116px;
  padding-left: 30px;
  padding-bottom: 9px;
}
/* card2  */
.card2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 325px;
  height: 105px;
  border-radius: 10px;
  border: 2px solid #f1f1fa;
  outline: none;
  background-color: white;
  color: black;
  margin: auto;
  padding: 15px;
  margin-top: 20px;
}
.card2-content {
  width: 2000px;
  height: 75px;
  font-size: 12px;
  line-height: 18px;
}
.card2 .rating {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 175px;
  height: 15px;
}
.ratinglist {
  list-style-image: url(../assets/images/Separator.png);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.432);
  position: relative;
  left: 3px;
  width: 145px;
}
.check {
  color: orange;
}
.rating .pararating {
  position: relative;
  right: 7px;
}
/* navbar */
nav {
  background-color: white;
  height: 71px;
  margin-top: -164px;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
}
nav img {
  width: 30px;
  height: 30px;
}
